html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

body {
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.cards {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.cards1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;  
    border-radius: 4px;
}

.cards2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;      
    border-radius: 4px;
}

.cards3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    width: 30%;     
    border-radius: 4px;
}

.herobox1 {
    flex: 2;
}

.herobox2 {
    flex: 1;
    border-radius: 4px;
}

h1 {
    font-size: 3.25rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 20px;
}

.cards p{
    font-size: 0.8rem;
    margin: 10px 30px 20px 30px;
}

.cards img {
    padding-top: 20px;
}

p {
    line-height: 1.375rem;
    margin-bottom: 0.375rem;
    font-family: sans-serif;
    font-size: 1rem;
}

.myButton{
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.349);
}

.myButton:hover{
    background-color: tomato;
    transition-duration: 100ms;
}

nav{
    display: flex;
}

nav .myButton {
    padding: 10px 14px;
    border: 1px solid white;
    background-color: initial;
    box-shadow: none;
    color: white;
    margin-left: 10px;
}

.recomendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 40px;
}

.tbox :last-child{
    font-size: 0.875rem;
}

.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.navbutton{
    position: relative;
}

.navbutton:hover .dropdown {
    display: block;
}

.dropdown .myButton:hover{
    background-color: violet;
    transition-duration: 100ms;
}
